.heading{
    width:100%;
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    color: white;
    background-color: red;
    text-align: center;
    bottom: 0;
    line-height: 3;
    width: 100%;
}

canvas{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px gray;
}